:root {
  --white: #ffffff;
  --blue: #00439c;
  --black: #000000;
  --lighter-black: #1f1f1f;
  --grey: #2c2c2c;
  --orange: #fc551d;
}

.ant-btn:hover {
  color: var(--orange);
  border-color: var(--orange);
}

.ant-btn:focus {
  color: var(--orange);
  border-color: var(--orange);
}

.default-list {
  border: 1px solid var(--grey);
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
}

.create-post-collapsible-item .ant-collapse-content-box {
  padding: 12px 16px 12px 12px !important;
}

.create-post-input {
  background-color: #525252;
  color: var(--white);
  border: none;
}

.create-post-input:focus {
  outline: none !important;
  border: none !important;
}

.course-card .ant-card-cover {
  position: relative;
}

.button-secondary {
  background-color: #d3d3d3;
}

.button-secondary:hover {
  background-color: #dcdcdc;
  border-color: #dcdcdc;
  color: #808080;
}

.button-secondary:focus {
  background-color: #dcdcdc;
  border-color: #dcdcdc;
  color: #808080;
}

.button-danger {
  background-color: #c62121;
  border-color: #c62121;
  color: var(--white);
}

.button-danger:hover {
  background-color: #8d0101;
  border-color: #8d0101;
  color: var(--white);
}

.button-danger:focus {
  background-color: #8d0101;
  border-color: #8d0101;
  color: var(--white);
}

.button-success {
  background-color: #5ca08e;
  border-color: #5ca08e;
  color: var(--white);
}

.button-success:hover {
  background-color: #2eb56e;
  border-color: #2eb56e;
  color: var(--white);
}

.button-success:focus {
  background-color: #2eb56e;
  border-color: #2eb56e;
  color: var(--white);
}
